<div class="card-footer border-top d-flex justify-content-center">

    {% if page_obj.has_previous %}
        <a class="btn btn-sm btn-falcon-default me-2"
           href="?page={{ page_obj.previous_page_number }}&category={{ request.GET.category }}"
           title="Next">
            <span class="fas fa-chevron-left"></span>
        </a>
    {% else %}
        <button class="btn btn-falcon-default btn-sm me-2" type="button"
                disabled="disabled">
            <span class="fas fa-chevron-left"></span>
        </button>
    {% endif %}

    {% if page_obj.previous_page_number != 1 %}
        {% if page_obj.has_previous %}
            <a class="btn btn-sm btn-falcon-default me-2" href="?page=1&category={{ request.GET.category }}">1</a>
        {% endif %}

        <a class="btn btn-sm btn-falcon-default me-2" href="#">
            <span class="fas fa-ellipsis-h"></span>
        </a>

    {% endif %}


    <a class="btn btn-sm btn-falcon-default text-primary me-2" href="">{{ page_obj.number }}</a>

    {% if page_obj.has_next %}
        <a class="btn btn-sm btn-falcon-default me-2"
           href="?page={{ page_obj.next_page_number }}&category={{ request.GET.category }}">
            {{ page_obj.next_page_number }}
        </a>
    {% endif %}

    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
        <a class="btn btn-sm btn-falcon-default me-2" href="#">
            <span class="fas fa-ellipsis-h"></span>
        </a>
        {% if page_obj.has_next %}
            <a class="btn btn-sm btn-falcon-default me-2"
               href="?page={{ page_obj.paginator.num_pages }}&category={{ request.GET.category }}">
                {{ page_obj.paginator.num_pages }}
            </a>
        {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
        <a class="btn btn-sm btn-falcon-default me-2"
           href="?page={{ page_obj.next_page_number }}&category={{ request.GET.category }}" title="Next">
            <span class="fas fa-chevron-right"></span>
        </a>
    {% else %}
        <button class="btn btn-falcon-default btn-sm me-2" type="button"
                disabled="disabled">
            <span class="fas fa-chevron-right"></span>
        </button>
    {% endif %}

</div>
