{% extends 'apps/base.html' %}
{% load static %}
{% load custom_tags %}
{% load humanize %}
{% block content %}



    <form method="post" action="{% url 'order_create' %}">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-xl-4 order-xl-1">
                <div class="card">
                    <div class="card-header bg-light btn-reveal-trigger d-flex flex-between-center">
                        <h5 class="mb-0">Order Summary</h5><a class="btn btn-link btn-sm btn-reveal text-600"
                                                              href="{% url 'shopping_cart_page' %}"><span
                            class="fas fa-pencil-alt"></span></a>
                    </div>

                    {% for cart_item in cart_items %}
                        <div class="card-body">
                        <table class="table table-borderless fs--1 mb-0">
                        <tr class="border-bottom">
                            <th class="ps-0 pt-0">{{ cart_item.product.title }} x {{ cart_item.quantity }}

                                <div class="text-400 fw-normal fs--2">
                                    {{ cart_item.product.short_description|safe }}
                                </div>
                            </th>

                            <th class="pe-0 text-end pt-0">${{ cart_item.amount|intcomma }}</th>
                        </tr>
                        <tr class="border-bottom">
                            <th class="ps-0">Subtotal</th>
                            <th class="pe-0 text-end">${{ cart_item.amount|intcomma }}</th>
                        </tr>
                    {% endfor %}
                    <tr class="border-bottom">
                        <th class="ps-0">Shipping</th>
                        <th class="pe-0 text-end">${{ sub_shipping_cost }}</th>
                    </tr>
                    <tr>
                        <th class="ps-0 pb-0">Total</th>
                        <th class="pe-0 text-end pb-0">${{ all_total|intcomma }}</th>
                    </tr>


                    </table>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light">
                        <div class="fw-semi-bold">Payable Total</div>
                        <div class="fw-bold">${{ all_total|intcomma }}</div>
                    </div>


                </div>
            </div>
            <div class="col-xl-8">
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <div class="row flex-between-center">
                            <div class="col-sm-auto">
                                <h5 class="mb-2 mb-sm-0">Your Shipping Address</h5>
                            </div>
                            <div class="col-sm-auto"><a class="btn btn-falcon-default btn-sm"
                                                        href="{% url 'address_page' %}"><span
                                    class="fas fa-plus me-2" data-fa-transform="shrink-2"></span>Add New Address </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for address in user.address_set.all %}
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <div class="form-check mb-0 custom-radio radio-select">
                                        <input class="form-check-input" id="address-{{ address.pk }}" type="radio"
                                               name="address" checked="checked" value="{{ address.pk }}"/>
                                        <label class="form-check-label mb-0 fw-bold d-block"
                                               for="address-{{ address.pk }}">{{ address.full_name }}
                                            <span class="radio-select-content">
                                                <span>
                                                {{ address.city }}
                                                <br/>
                                                {{ address.street }}
                                                <br/>
                                                {{ address.zip_code }}
                                                <span class="d-block mb-0 pt-2">{{ address.phone|str_to_phone }}</span>
                                                </span>
                                            </span>
                                        </label>
                                        <a class="fs--1" href="{% url 'update_address' address.pk %}">Edit</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header bg-light">
                        <h5 class="mb-0">Payment Method</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="radio" value="credit_card" id="credit-card"
                                   checked="checked" name="payment_method"/>
                            <label class="form-check-label mb-2 fs-1" for="credit-card">Credit Card</label>
                        </div>
                        <div class="row gx-0 ps-2 mb-4">
                            <div class="col-sm-8 px-3">
                                <div class="mb-3">
                                    <label class="form-label ls text-uppercase text-600 fw-semi-bold mb-0"
                                           for="inputNumber">Card Number</label>
                                    <input class="form-control" id="inputNumber" type="text"
                                           placeholder="•••• •••• •••• ••••" maxlength="16" minlength="16"
                                           name="number"/>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <label class="form-label ls text-uppercase text-600 fw-semi-bold mb-0">Exp
                                            Date</label>
                                        <input class="form-control" type="text" placeholder="mm/yy" name="expire_date"
                                               id="expireDate"/>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label ls text-uppercase text-600 fw-semi-bold mb-0">CVV<a
                                                class="d-inline-block" href="#" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Card verification value"><span
                                                class="fa fa-question-circle ms-2"></span></a></label>
                                        <input class="form-control" type="text" placeholder="123" minlength="3"
                                               maxlength="3" pattern="[0-9]{3}" name="cvv"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 ps-3 text-center pt-2 d-none d-sm-block">
                                <div class="rounded-1 p-2 mt-3 bg-100">
                                    <div class="text-uppercase fs--2 fw-bold">We Accept</div>
                                    <img src="{% static 'apps/assets/img/icons/icon-payment-methods-grid.png' %}" alt=""
                                         width="120"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="radio" value="paypal" id="paypal"
                                   name="payment_method"/>
                            <label class="form-check-label mb-0 ms-2" for="paypal"><img
                                    src="{% static 'apps/assets/img/icons/icon-paypal-full.png' %}" height="20" alt=""/></label>
                        </div>
                        <div class="border-dashed-bottom my-5"></div>
                        <div class="row">
                            <div class="col-md-7 col-xl-12 col-xxl-7 px-md-3 mb-xxl-0 position-relative">
                                <div class="d-flex"><img class="me-3"
                                                         src="{% static 'apps/assets/img/icons/shield.png' %}" alt=""
                                                         width="60" height="60"/>
                                    <div class="flex-1">
                                        <h5 class="mb-2">Buyer Protection</h5>
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" id="protection-option-1" type="checkbox"
                                                   checked="checked"/>
                                            <label class="form-check-label mb-0" for="protection-option-1"> <strong>Full
                                                Refund </strong>If you don't <br class="d-none d-md-block d-lg-none"/>receive
                                                your order</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" id="protection-option-2" type="checkbox"
                                                   checked="checked"/>
                                            <label class="form-check-label mb-0" for="protection-option-2"> <strong>Full
                                                or Partial Refund, </strong>If the product is not as described in
                                                details</label>
                                        </div>
                                        <a class="fs--1 ms-3 ps-2" href="#!">Learn More<span
                                                class="fas fa-caret-right ms-1" data-fa-transform="down-2"></span></a>
                                    </div>
                                </div>
                                <div class="vertical-line d-none d-md-block d-xl-none d-xxl-block"></div>
                            </div>
                            <div class="col-md-5 col-xl-12 col-xxl-5 ps-lg-4 ps-xl-2 ps-xxl-5 text-center text-md-start text-xl-center text-xxl-start">
                                <div class="border-dashed-bottom d-block d-md-none d-xl-block d-xxl-none my-4"></div>
                                <div class="fs-2 fw-semi-bold">All Total: <span
                                        class="text-primary">${{ all_total }}</span></div>
                                <button class="btn btn-success mt-3 px-5" type="submit">Confirm &amp; Pay</button>
                                <p class="fs--1 mt-3 mb-0">By clicking <strong>Confirm & Pay </strong>button you agree
                                    to the <a href="#!">Terms &amp; Conditions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <script>
        document.getElementById('orderForm').addEventListener('submit', function (event) {
            const expireDate = document.getElementById('expireDate').value;
            const [month, year] = expireDate.split('/').map(Number);

            // Convert the year to a full year (assuming 2000s)
            const fullYear = year + 2000;
            const now = new Date();
            const currentYear = now.getFullYear();
            const currentMonth = now.getMonth() + 1; // JavaScript months are 0-11, so we add 1

            // Create a date object for the expiration date (first day of the month)
            const expireDateObj = new Date(fullYear, month - 1, 1); // JavaScript months are 0-11, so we subtract 1

            if (month < 1 || month > 12) {
                alert('Invalid month. Please enter a valid expiration date.');
                event.preventDefault();
                return;
            }

            if (fullYear < currentYear || (fullYear === currentYear && month < currentMonth)) {
                alert('The card is expired.');
                event.preventDefault();
            }
        });
    </script>
{% endblock %}