{% extends 'apps/base.html' %}

{% load static %}
{% load humanize %}
{% load tz %}
{% load custom_tags %}

{% block content %}

    <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card"
             style="background-image:url({% static 'apps/assets/img/icons/spot-illustrations/corner-4.png' %});opacity: 0.7;">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <h5>Order Details: #{{ order.pk }}</h5>
            <p class="fs--1">{{ order.created_at|date:"F j, Y, g:i A" }}</p>
            <div><strong class="me-2">Status: </strong>
                {% if order.status == 'Completed' %}
                    <div
                            class="badge rounded-pill badge-soft-success fs--2">Completed<span
                            class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></div>
                {% elif order.status == 'Processing' %}
                    <div
                            class="badge rounded-pill badge-soft-primary fs--2">Processing<span
                            class="ms-1 fas fa-redo"
                            data-fa-transform="shrink-2"></span></div>

                {% elif order.status == 'On Hold' %}
                    <div
                            class="badge rounded-pill badge-soft-secondary fs--2">On Hold<span
                            class="ms-1 fas fa-ban"
                            data-fa-transform="shrink-2"></span></div>

                {% else %}
                    <div
                            class="badge rounded-pill badge-soft-warning fs--2">Pending<span
                            class="ms-1 fas fa-stream"
                            data-fa-transform="shrink-2"></span></div>

                {% endif %}
            </div>
        </div>
    </div>



    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <h5 class="mb-3 fs-0">Shipping Address</h5>
                    <h6 class="mb-2">{{ order.address.full_name }}</h6>
                    <p class="mb-0 fs--1">{{ order.address.city }},
                        <br/>{{ order.address.street }}, {{ order.address.zip_code }}</p>
                    <div class="text-500 fs--1">(Free Shipping)</div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h5 class="mb-3 fs-0">Payment Method</h5>
                    <div class="d-flex"><img class="me-3" src="{% static 'apps/assets/img/icons/visa.png' %}" width="40"
                                             height="30"
                                             alt=""/>
                        <div class="flex-1">
                            <h6 class="mb-0">{{ order.address.full_name }}</h6>
                            <p class="mb-0 fs--1">{{ order.creditcard_set.number }}</p>
                        </div>
                        <div class="col-auto">
                        <a href="{% url 'download_pdf' order.pk %}" target="_blank">
                            <button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button">
                                <svg class="svg-inline--fa fa-arrow-down fa-w-14 me-1" aria-hidden="true"
                                     focusable="false"
                                     data-prefix="fas" data-icon="arrow-down" role="img"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"></path>
                                </svg>
                                <!-- <span class="fas fa-arrow-down me-1"> </span> Font Awesome fontawesome.com -->
                                Download (.pdf)
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive fs--1">
                <table class="table table-striped border-bottom">
                    <thead class="bg-200 text-900">
                    <tr>
                        <th class="border-0">Products</th>
                        <th class="border-0 text-center">Quantity</th>
                        <th class="border-0 text-end">Rate</th>
                        <th class="border-0 text-end">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_item in order.order_items.all %}
                        <tr class="border-200">
                            <td class="align-middle">
                                <h6 class="mb-0 text-nowrap">{{ order_item.product.title }}</h6>
                                <p class="mb-0">{{ order_item.product.short_description|safe }}</p>
                            </td>
                            <td class="align-middle text-center">{{ order_item.quantity }}</td>
                            <td class="align-middle text-end">${{ order_item.product.new_price }}</td>
                            <td class="align-middle text-end">${{ order_item.sub_amount }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="row g-0 justify-content-end">
                <div class="col-auto">
                    <table class="table table-sm table-borderless fs--1 text-end">
                        <tr>
                            <th class="text-900">Subtotal:</th>
                            <td class="fw-semi-bold">${{ order.amount.subtotal }}</td>
                        </tr>
                        <tr>
                            <th class="text-900">Tax 5%:</th>
                            <td class="fw-semi-bold">${{ order.amount.tax }}</td>
                        </tr>
                        <tr class="border-top">
                            <th class="text-900">Total:</th>
                            <td class="fw-semi-bold">${{ order.amount.total }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

